<style>
	th{
		text-align: center;
	}
	td{
		text-align: center;
	}
	.infobox-input{
		width: 80%;
	}
	.inputBox{
		background: rgba(0, 0, 0, 0.5); 
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
        box-sizing: border-box; 
        border-bottom: 1px solid;
        width: 60%;
        height: 50px;
        padding-top: 7px;
        margin-top: 20px;
	}
</style>

<div style="width: 80%;" id="stuman-content">

<!-- 我的成绩 -->
	<div id="myGradeTable" v-if="paneSwitch.isMyGradeShow" style="background:rgba(0,0,0,0.8); background: #fff; margin-top: 50px;
	border: 6px solid rgba(0, 0, 0, 0.8); padding-top: 20px;">
	<div style="margin-left: 20px;"><h3>我的成绩</h3></div>
	<table class="table">
		<thead>
			<tr>
				<th style="text-align: center;">课程号</th>
				<th style="text-align: center;">课程名</th>
				<th style="text-align: center;">分数</th>
				<th style="text-align: center;">是否通过</th>
			</tr>
		</thead>
		<tbody v-for="grade in studentCourseGrade.array">
			<tr>
				<td style="text-align: center;">{{grade.co_no}}</td>
				<td style="text-align: center;">{{grade.co_name}}</td>
				<td style="text-align: center;">{{grade.g_score}}</td>
				<td style="text-align: center;"><p v-if="grade.g_score!=null&&grade.g_score>=60">合格</p><p v-if="grade.g_score!=null&&grade.g_score<60">未通过</p></td>
			</tr>
		</tbody>
	</table>
	</div>

<!-- Stutable -->
<div v-if="paneSwitch.isStutableShow" style="position: relative;">
	
	<!-- 学生数据表 -->
	<div style="background:rgba(0,0,0,0.8); background: #fff; margin-top: 50px;border: 6px solid rgba(0, 0, 0, 0.8);">
	<table class="table table-bordered table-hover" >
		<thead>
			<tr>
				<th id="check_all_td" style="text-align: center;" v-show="paneSwitch.isStudentMainTableEditModel">
					<input id="check_all" type='checkbox' v-model="stuCheck.isCheckAll" @change="checkAll"/></th>
				<th style="text-align: center;">学号</th>
				<th style="text-align: center;">姓名</th>
				<th style="text-align: center;">性别</th>
				<th style="text-align: center;">年龄</th>
				<th style="text-align: center;">入学时间</th>
				<th style="text-align: center;">所属学院</th>
				<th style="text-align: center;">就读班级</th>
				<th style="text-align: center;" v-show="paneSwitch.isStudentMainTableEditModel">操作</th>
			</tr>
		</thead>
		<tbody v-for="stu in studentQuery.stuArray">
			<tr>
				<td align="center" v-show="paneSwitch.isStudentMainTableEditModel" style="padding-top: 16px;">
					<input type="checkbox" v-model="stuCheck.checkedValues" :value="stu.s_no"/></td>
				<td style="text-align: center; padding-top: 16px;"><a href="#" data-toggle="modal" data-target="#stuInfoView" @click="openStuInfoModal(stu.s_no)">{{stu.s_no}}</a></td>
				<td style="text-align: center; padding-top: 16px;">{{stu.s_name}}</td>
				<td style="text-align: center; padding-top: 16px;"><p v-show="stu.s_sex==0">男</p><p v-show="stu.s_sex==1">女</p></td>
				<td style="text-align: center; padding-top: 16px;">{{stu.s_birthday}}</td>
				<td style="text-align: center; padding-top: 16px;">{{stu.s_enter_year}}</td>
				<td style="text-align: center; padding-top: 16px;">{{stu.s_depart_fk}}</td>
				<td style="text-align: center; padding-top: 16px;">{{stu.s_clazz_fk}}</td>
				<td align="center" v-show="paneSwitch.isStudentMainTableEditModel">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#stuModal" @click="openStuModal('update', stu.s_no)">更新</button>
  					<button type="button" class="btn btn-default" @click="deleteStu(stu.s_no)">删除</button>
  					
				</div></td>
			</tr>
			
		</tbody>
	</table>
	
	<!-- 页脚分页 -->
	<div style="text-align: center" id="paggingSelect">
		
		<div>
		<nav aria-label="Page navigation" id="pagePane">
  			<ul class="pagination">
  				<li>
      				<a href="javascript://" aria-label="Previous" @click="goToPage(1)">首页
        			<span aria-hidden="true">&laquo;</span>
     			 	</a>
    			</li>
    			<li>
      			<a href="#" aria-label="Previous" @click="goToPage(queryPage.currentPage-1)">
        			<span aria-hidden="true">&laquo;</span>
     			 </a>
    			</li>
    			<!-- 前省略号 -->
    			<li v-for="i in 1" class="toPageBtn" 
    				v-show="queryPage.pageBeforeOmit">
    				<a href="#">...</a>
    				
    			</li>
    			<li v-for="i in queryPage.pageCount" class="toPageBtn" 
    				v-show="queryPage.pageBuffer[i-1]=='0'">
    				<a href="#" @click="goToPage(i)">{{i}}</a>
    				
    			</li>
    			<!-- 后省略号 -->
    			<li v-for="i in 1" class="toPageBtn" 
    				v-show="queryPage.pageAfterOmit">
    				<a href="#">...</a>
    				
    			</li>
    			<li>
      				<a href="#" aria-label="Next"  @click="goToPage(queryPage.currentPage+1)">
        			<span aria-hidden="true">&raquo;</span>
      				</a>
    			</li>
    			<li>
      				<a href="javascript://" aria-label="Next" @click="goToPage(queryPage.pageCount)">
        			<span aria-hidden="true">&raquo;</span>
        			尾页
      				</a>
    			</li>
  			</ul>
		</nav>
		</div>
	</div>
	</div>
	
	<!-- 按钮空间栏 -->
	
	<div style="margin-top: 100px; margin-bottom: 10px;" id="btnBox">
		<!-- <div style="width: 100%;"> -->
			<button type="button" class="btn btn-success btn-lg boxBtn" data-toggle="modal" data-target="#stuModal" @click="openStuModal('add')" style="border: 2px solid rgba(0, 0, 0, 0.8);" :disabled="property>1">添加学生</button>
			<button type="button" class="btn btn-primary btn-lg boxBtn" style="border: 2px solid rgba(0, 0, 0, 0.8); margin-left: 50px;margin-right: 50px;" @click="excelImport" :disabled="property>1">批量导入</button>
		<!-- </div> -->
		<!-- <div style="width: 100%;"> -->
			<button type="button" class="btn btn-danger btn-lg boxBtn" style="border: 2px solid rgba(0, 0, 0, 0.8); " @click="deleteStuBatch" :disabled="property>1">批量删除</button>
			<button type="button" class="btn btn-warning btn-lg boxBtn" style="border: 2px solid rgba(0, 0, 0, 0.8); margin-left: 50px;margin-right: 50px;" @click="editStudentMainTable" :disabled="property>1">编辑模式</button>
			<button type="button" class="btn btn-default btn-lg boxBtn" style="border: 2px solid rgba(0, 0, 0, 0.8);" @click="openQueryInputBox">查找学生</button>
		<!-- </div> -->
	</div>
	<!-- inputBox -->
	<div class="inputBox" v-show="paneSwitch.isInputBoxShow">
		<div class="input-group infobox-input">
  								<input type="text" class="form-control" placeholder="学生号/学生名" aria-describedby="basic-addon2" v-model="inputBox.inputData">
  								<span class="input-group-btn">
        							<button class="btn btn-default" type="button" @click="doQuery">搜索</button>
      							</span>
							</div>
	</div>
	
	<!-- excel导入 -->
	<div v-show="false">
			<form id="import_stu_form" enctype="multipart/form-data" method="post" action="" v-show="false">
			 <div style="margin-top: 5px" v-show="false"> 
			 选择Excel文件：<input type="file" id="stu_excel" name="stu_excel" @change="doExcelImport" 
			 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /></div>
			</form>
			
	</div>
	
	
</div>

<!-- QueryGradePane -->
<div v-if="paneSwitch.queryGradeShow">
	<div style="background:rgba(0,0,0,0.8); background: #fff; margin-top: 50px;
	border: 6px solid rgba(0, 0, 0, 0.8); height: 320px; overflow-y:scroll;" id="stuGradeTable" v-show="paneSwitch.isStuGradeShow">
		<table class="table table-striped table-hover"> 
			<thead>
				<tr>
					<th style="text-align: center;">学生号</th>
					<th style="text-align: center;">学生名</th>
					<th style="text-align: center;">课程号</th>
					<th style="text-align: center;">课程名</th>
					<th style="text-align: center;">分数</th>
					<th style="text-align: center;">合格</th>
				<tr>
			</thead>
			<tbody v-for="grade in queryAllStuGrade.array">
				<tr>
					<td style="text-align: center;"><a href="#" data-toggle="modal" data-target="#stuInfoView" @click="openStuInfoModal(grade.s_no)">
					<p style="margin-bottom: 5px; margin-top: 5px;">{{grade.s_no}}</p></a></td>
					<td style="text-align: center;"><p style="margin-bottom: 5px; margin-top: 5px;">{{grade.s_name}}</p></td>
					<td style="text-align: center;"><p style="margin-bottom: 5px; margin-top: 5px;">{{grade.co_no}}</p></td>
					<td style="text-align: center;"><p style="margin-bottom: 5px; margin-top: 5px;">{{grade.co_name}}</p></td>
					<td style="text-align: center;"><p style="margin-bottom: 5px; margin-top: 5px;">{{grade.g_score}}</p></td>
					<td style="text-align: center;"><p v-if="grade.g_score!=null&&grade.g_score>=60" style="margin-bottom: 5px; margin-top: 5px;">合格</p>
						<p v-if="grade.g_score!=null&&grade.g_score<60" style="margin-bottom: 5px; margin-top: 5px;">不合格</p></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- 按钮栏 -->
	<div style="width: 96%; display: flex; flex-direction: row; justify-content: space-around;  margin-top: 100px; height: 20%;">
		<!-- left -->
		<div style="width: 45%; height:200px; background: rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
             box-sizing: border-box; border-bottom: 1px solid; padding-top: 40px;">
		<button type="button" class="btn btn-primary btn-info" style="height: 60px; border: 2px solid rgba(0, 0, 0, 0.8);" @click="queryHighestScore">
			 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 最高成绩 </button>
		<button type="button" class="btn btn-primary btn-warning" style="margin-left: 40px; margin-right: 40px; height: 60px; border: 2px solid rgba(0, 0, 0, 0.8);" @click="queryLowestScore">
			 <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 最低成绩 </button>
		<button type="button" class="btn btn-primary btn-danger" style="height: 60px; border: 2px solid rgba(0, 0, 0, 0.8);" @click="queryUnqualifiedScore">
			 <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> 未过成绩 </button>
		<div style="width: 94%; margin-top: 20px;">
			<button class="btn btn-primary" style="height: 65px; width: 45%; margin-right: 5%; border: 3px solid rgba(0, 0, 0, 0.8);"> 
				<span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <p style="font-size: 20px;">图表统计</p></button>
			<button class="btn btn-warning" style="height: 65px; width: 45%; border: 3px solid rgba(0, 0, 0, 0.8);" @click="changeGradeTable"><span class="glyphicon glyphicon-refresh"></span><p style="font-size: 20px;">{{queryAllStuGrade.changeBtnInnerText}}</p></button>
		</div>
		
		
		</div>
		<!-- right -->
		<div style="width: 45%; background: rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
             box-sizing: border-box; border-bottom: 1px solid;" id="right_model">

             <!-- 统计图标 -->
		</div>
	</div>
	
</div>

<!-- ChooseCoursePane -->
<div v-if="paneSwitch.chooseCourseShow" id="chooseCoursePane">
	<div style="background: #fff; margin-top: 50px; border: 6px solid rgba(0, 0, 0, 0.8); overflow-y:scroll; height: 400px;" v-show="!courseMess.showChoosedCourse">
		<h3 style="background: #f4f4f4; padding-top: 10px; padding-bottom: 10px;">课程信息</h3>
		<br/>
		<table class="table table-striped table-hover mesTable">
			<thead>
				<tr>
					<th>课程号</th>
					<th>课程名</th>
					<th>负责老师</th>
					<th>当前人数</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody v-for="course in this.courseMess.allCourse">
				<tr>
					<td>{{course.co_no}}</td>
					<td>{{course.co_name}}</td>
					<td>{{course.courseTeacher}}</td>
					<td>{{course.courseStuCount}}</td>
					<td style="padding-top: 8px; padding-bottom: 8px;"><button class="btn btn-warning" @click="chooseCourseByStudent(course.co_no)" :disabled="property<2">确认选课</button></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	
	<!-- 已选课程 -->
	<div style="background: #fff; margin-top: 50px; border: 6px solid rgba(0, 0, 0, 0.8); overflow-y:scroll; height: 400px;"
		v-show="courseMess.showChoosedCourse" >
		<div class="innerbox" style="border: 2px  #000000; width: 90%; margin: 0; height: 100%;">
			<h3 style="background: #f4f4f4; padding-top: 10px; padding-bottom: 10px;">已选课程</h3>
			<div style="background: #f4f4f4;">
			<table class="table table-striped table-hover mesTable">
				<thead>
					<tr>
						<th>课程号</th>
						<th>课程名</th>
						<th>负责老师</th>
						<th>当前人数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody v-for="course in courseMess.choosedCourse">
					<tr>
						<td>{{course.co_no}}</td>
						<td>{{course.co_name}}</td>
						<td>{{course.t_name}}</td>
						<td>{{course.stuCount}}</td>
						<td style="padding-top: 8px; padding-bottom: 8px;"><button class="btn btn-warning">退出选课</button></td>
					</tr>
				</tbody>
			</table>
			
			</div>
		</div>
	
	</div>
	<!-- 打开已选课程按钮 -->
	<div style="width: 60%;margin-top: 20px;">
		<button class="btn btn-default btn-lg btn-block" @click="showChoosedCourse" id="showCourseBtn" :disabled="property<2">查看已选课程</button>
	</div>
</div>

<!-- 导航脚 -->
<div style="bottom: 10px; width: 70%; bottom: 0px; position: absolute;" >
	<nav class="navbar navbar-inverse">
		<div class="container" style="width: 100%">
			<div class="span6">
				<ul class="nav navbar-nav" style="">
					<li><a href="javascript://" @click="openMyGrade" >我的成绩</a></li>
                	<li><a href="javascript://" @click="openStutable">总览列表</a></li>
                	<li><a href="javascript://" @click="openQueryGradePane">成绩查询</a></li>
                	<li><a href="javascript://" @click="openChooseCoursePane" >学生选课</a></li>
                	
				</ul>
			</div>
		</div>
	</nav>
	
	
</div>

<!-- 新增&修改模态框 -->
<div id="stuModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<h4 class="modal-title">新增&修改</h4>
      </div>
      <div class="modal-body">
      	<div class="input-group">
  			<span class="input-group-addon" id="basic-addon1">学号</span>
  			<input type="text" class="form-control" placeholder="学号" 
  			aria-describedby="basic-addon1"  v-model="stuModal.sNo" :readonly="stuModal.isStuNoReadonly">
		</div>
		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon2" >姓名</span>
  			<input type="text" class="form-control" placeholder="姓名" aria-describedby="basic-addon1" v-model="stuModal.sName">
		</div>
		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon3" >性别</span>
  			<input type="text" class="form-control" placeholder="性别" aria-describedby="basic-addon1" v-model="stuModal.sSex">
		</div>
		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon4" >入学时间</span>
  			<input type="date" class="form-control" placeholder="入学时间" aria-describedby="basic-addon1" v-model="stuModal.sEnterYear">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block" @click="doAddOrUpdate">保存</button>
      </div>
    </div>
  </div>
</div>
<!-- ./新增&修改模态框 -->

<!-- 浏览学生详细信息模态框 -->
<div class="modal fade" id="stuInfoView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">学生信息</h4>
      </div>
      <div class="modal-body" align="left">
        <h4>学生学号</h4>
        <p>{{stuInfoModal.sNo}}</p>
        <hr>
        <h4>学生姓名</h4>
        <p>{{stuInfoModal.sName}}</p>
        <hr>
        <h4>学生性别</h4>
        <p>{{stuInfoModal.sSex}}</p>
        <hr>
        <h4>出生日期</h4>
        <p v-show="stuInfoModal.sBirthday!=''">{{stuInfoModal.sBirthday}}</p><p v-show="stuInfoModal.sBirthday=='' || stuInfoModal.sBirthday==null">暂无</p>
        <hr>
        <h4>入学时间</h4>
        <p v-show="stuInfoModal.sEnterYear!=''">{{stuInfoModal.sEnterYear}}</p><p v-show="stuInfoModal.sEnterYear=='' || stuInfoModal.sEnterYear==null">暂无</p>
        <hr>
        <h4>所在班级</h4>
        <p>{{stuInfoModal.cName}}</p>
        <hr>
        <h4>所在学院</h4>
        <p>{{stuInfoModal.dName}}</p>
        <hr>
        <h4>学生评价</h4>
        <p>...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ./浏览学生详细信息模态框 -->

<!-- ./content -->
</div>



<script>
	var vue = new Vue({
		el : "#stuman-content",
		data : {
			courseMess : {
				showChoosedCourse : false,
				choosedCourse : [],
				allCourse : [],
				keyword : '',
				orderBy : "co_no",
				orderWay : "asc",
				pageNo : "1",
				pageSize : "1000"
			},
			queryPage : {
				currentPage : 1,
				pageSize : 5,
				pageCount : "",
				allRowCount : "",
				liCount : [],
				pageBuffer : [],
				pageBeforeOmit : false,
				pageAffterOmit : true,
			},
			paneSwitch : {
				isStuGradeShow : false,
				isMyGradeShow : true,
				isStutableShow : false,
				queryGradeShow : false,
				chooseCourseShow : false,
				isStudentMainTableEditModel : false,
				isInputBoxShow : false,
			},
			studentQuery : {
				stuArray : null,
				keyword : "",
				orderParam1 : "s_no",
				orderParam2 : "asc",
			},
			stuModal : {
				addOrUpdate : "",
				sNo : "",
				sName : "",
				sSex : "",
				sEnterYear : "",
				isStuNoReadonly : false,
			},
			stuCheck : {
				isCheckAll : false,
				checkedValues : []
			},
			studentCourseGrade : {
				array : [],
				keyword : "co_no",
				orderBy : "co_no",
				orderWay : "asc",
				currentPage : "1",
				pageSize : "3",
				changeTableCount : 1
			},
			queryAllStuGrade : {
				array : [],
				keywordCoNo : "",
				keywordCNo : "",
				keywordTNo : "",
				keywordDNo : "",
				orderBy : "co_no",
				orderWay : "asc",
				changeBtnInnerText : "我的成绩",
			},
			stuInfoModal : {
				sNo : "",
				sName : "",
				sSex : "",
				sBirthday : "",
				sEnterYear : "",
				cName : "",
				dName : "",
			},
			//节拍器
			Metronome : {
				count : 1
			},
			inputBox : {
				inputData : "",
			},
			property : "",
			
		},
		methods : {
			doQuery : function(){
				this.studentQuery.keyword = this.inputBox.inputData;
				this.queryStudent();
				this.studentQuery.keyword = "";
			},
			openQueryInputBox : function(){
				if (!this.paneSwitch.isInputBoxShow){
					this.paneSwitch.isInputBoxShow = true;
				}else{
					this.paneSwitch.isInputBoxShow = false;
				}
			},
			editStudentMainTable : function(){
				if (!this.paneSwitch.isStudentMainTableEditModel){
					this.paneSwitch.isStudentMainTableEditModel = true;
				}else {
					this.paneSwitch.isStudentMainTableEditModel = false;
				}
			},
			queryUnqualifiedScore : function(){
				if (this.Metronome.count%2==0){
					if (this.paneSwitch.isMyGradeShow){
						this.queryStudentCourseGrade();
					}else{
						this.queryAllStuGradeByKey();
					}
					this.Metronome.count++;
					return ;
				}
				if (this.paneSwitch.isMyGradeShow){
					//我的成绩
					if (myGradeArraySize==0){
						return ;
					}
					for (var i = myGradeArraySize-1; i >= 0; i--){
						if (this.studentCourseGrade.array[i].g_score >= 60){
							this.studentCourseGrade.array.splice(i, 1);
						}
					}
					this.Metronome.count++;
					return ;
				}else{
					//所有成绩
					if (this.allGradeArraySize==0){
						return ;
					}
					for (var i = allGradeArraySize-1; i >= 0; i--){
						if (this.queryAllStuGrade.array[i].g_score >= 60){
							this.queryAllStuGrade.array.splice(i, 1);
						}
					}
					this.Metronome.count++;
					return ;
				}
			},
			queryLowestScore : function(){
				if (this.paneSwitch.isMyGradeShow){
					//我的成绩
					this.studentCourseGrade.orderBy = "g_score"
					this.studentCourseGrade.orderWay = "desc";
					this.queryStudentCourseGrade();
					this.studentCourseGrade.orderBy = "co_no"
					this.studentCourseGrade.orderWay = "asc";
				}else{
					//所有成绩
					this.queryAllStuGrade.orderBy = "g_score";
					this.queryAllStuGrade.orderWay = "desc";
					this.queryAllStuGradeByKey();
					this.queryAllStuGrade.orderBy = "co_no";
					this.queryAllStuGrade.orderWay = "asc";
				}	
			},
			queryHighestScore : function(){
				if (this.paneSwitch.isMyGradeShow){
					//我的成绩
					this.studentCourseGrade.orderBy = "g_score"
					this.studentCourseGrade.orderWay = "asc";
					this.queryStudentCourseGrade();
					this.studentCourseGrade.orderBy = "co_no"
					this.studentCourseGrade.orderWay = "asc";
				}else{
					//所有成绩
					this.queryAllStuGrade.orderBy = "g_score";
					this.queryAllStuGrade.orderWay = "asc";
					this.queryAllStuGradeByKey();
					this.queryAllStuGrade.orderBy = "co_no";
					this.queryAllStuGrade.orderWay = "asc";
				}	
			},
			chooseCourseByStudent : function(coNo){
				var username = $("#username").val();
				$.post("${ctxPath}/happy-study/user/studentChooseCourseByUsername",{
					username : username,
					coNo : coNo,
				}, response=>{
					if (response.status==0){
						alert("选课成功");
						this.queryCourse();
						return ;
					}
					alert("选课失败, code: " + response.status);
				})
			},
			queryMyCourse : function(){
				this.courseMess.choosedCourse = null;
				var username = $("#username").val();
				var orderBy = this.courseMess.orderBy;
				var orderWay = this.courseMess.orderWay;
				$.post("${ctxPath}/happy-study/user/queryUserCourse", {
					username : username,
					orderBy : orderBy,
					orderWay : orderWay,
				}, response=>{
					if (response.status==0){
						console.log(this.courseMess.choosedCourse)
						this.courseMess.choosedCourse=response.courseArray;
					}
				})
			},
			queryCourse : function(){
				this.courseMess.allCourse = null;
				var keyword = this.courseMess.keyword;
				var orderBy = this.courseMess.orderBy;
				var orderWay = this.courseMess.orderWay;
				var pageNo = this.courseMess.pageNo;
				var pageSize = this.courseMess.pageSize;
				$.post("${ctxPath}/happy-study/course/queryCourse", {
					keyword : keyword,
					orderBy : orderBy,
					orderWay : orderWay,
					pageNo : pageNo,
					pageSize : pageSize,
				}, response=>{
					if (response.status==0){
						this.courseMess.allCourse = response.courseArray;
					}
				})
			},
			clearStuInfoModal : function(){
				this.stuInfoModal.sNo = "";
				this.stuInfoModal.sName = "";
				this.stuInfoModal.sSex = "";
				this.stuInfoModal.sBirthday = "";
				this.stuInfoModal.sEnterYear = "";
				this.stuInfoModal.cName = "";
				this.stuInfoModal.dName = "";
			},
			openStuInfoModal : function(sNo){
				this.clearStuInfoModal();
				if (sNo == null || sNo == ""){
					alert("查询失败");
					$("#stuInfoView").modal('hide');
					return ;
				}
				$.post("${ctxPath}/happy-study/student/getStudentInfoByNo", {sNo : sNo}, response=>{
					if (response.status!=0){
						alert("查询失败, error: " + response.status);
						$("#stuInfoView").modal('hide');
						return ;
					}
					var stuInfo = response.stuInfo;
					this.stuInfoModal.sNo = stuInfo.sNo;
					this.stuInfoModal.sName = stuInfo.sName;
					this.stuInfoModal.sSex = stuInfo.sSex;
					this.stuInfoModal.sBirthday = stuInfo.sBirthday;
					this.stuInfoModal.sEnterYear = stuInfo.sEnterYear;
					this.stuInfoModal.cName = stuInfo.cName;
					this.stuInfoModal.dName = stuInfo.dName;
				})
			},
			queryAllStuGradeByKey : function(){
				var coNo = this.queryAllStuGrade.keywordCoNo;
				var cNo = this.queryAllStuGrade.keywordCNo;
				var tNo = this.queryAllStuGrade.keywordTNo;
				var dNo = this.queryAllStuGrade.keywordDNo;
				var orderBy = this.queryAllStuGrade.orderBy;
				var orderWay = this.queryAllStuGrade.orderWay;
				
				$.post("${ctxPath}/happy-study/grade/queryGrade", {
					coNo : coNo,
					cNo : cNo,
					tNo : tNo,
					dNo : dNo,
					orderBy : orderBy,
					orderWay : orderWay
				}, response=>{
					this.queryAllStuGrade.array = response.gradeList;
					vue.getStudentGradeChart();
				})
			},
			changeGradeTable : function(){
				var count = this.studentCourseGrade.changeTableCount;
				this.paneSwitch.isMyGradeShow = true
				this.paneSwitch.isStuGradeShow = true;
				//myGradeTableCome.restart();
				if (count%2 != 0){
					this.paneSwitch.isMyGradeShow = true
					this.queryAllStuGrade.changeBtnInnerText="所有成绩";
					//stuGradeTableBack.restart();
					//myGradeTableCome.restart();
					this.paneSwitch.isStuGradeShow = false;
				}else{
					this.paneSwitch.isStuGradeShow = true;
					this.queryAllStuGrade.changeBtnInnerText="我的成绩";
					//stuGradeTableBack.restart()
					//myGradeTableCome.restart()
					this.paneSwitch.isMyGradeShow = false;
				}
				this.studentCourseGrade.changeTableCount++;
			},
			queryStudentCourseGrade : function(){
				this.studentCourseGrade.array = null;
				var username = $("#username").val();
				
				$.post("${ctxPath}/happy-study/user/queryMyGrade", {
					username : username,
					orderBy : this.studentCourseGrade.orderBy,
					orderWay : this.studentCourseGrade.orderWay,
					}, response=>{
						console.log(response.gradeList);
						this.studentCourseGrade.array = response.gradeList;
					})
			},
			checkAll : function(){
				var stuArray = this.studentQuery.stuArray;
				if (stuArray != null){
					//全选中
					if (this.stuCheck.isCheckAll){
						this.stuCheck.checkedValues = [];
						for (var i = 0; i < stuArray.length; i++){
							this.stuCheck.checkedValues.push(stuArray[i].s_no);
						}
					}else{
						this.stuCheck.checkedValues = [];
					}
				}
			},
			doExcelImport : function(){
				var formData = new FormData($("#import_stu_form")[0]);
				formData.append("file", $("#stu_excel")[0].files);
				$.ajax({
					type : "post",
					url : "${ctxPath}/happy-study/student/importStudent",
					processData : false,
					contentType : false,
					data : formData,
					success : response=>{
						if (response.indexOf("error:") > 1){
							alert(response.substring(6));
							return ;
						}
						alert("学生信息已导入");
						//console.log(response);
						vue.queryStudent();
						return ;
					},
					error : function(err){
						alert(err);
						return ;
					}
				})
			},
			excelImport : function(){
				$("#stu_excel").trigger("click");
				//this.doExcelImport()
			},
			deleteStuBatch : function(){
				if (this.stuCheck.checkedValues == undefined || this.stuCheck.checkedValues == null || 
						this.stuCheck.checkedValues.length == 0){
					alert("还没有勾选要删除的学生!");
					return ;
				}
				var sNos = "";
				for (var i = 0; i < this.stuCheck.checkedValues.length; i++){
					sNos += this.stuCheck.checkedValues[i] + "-";
				}
				if (confirm("确认要删除选中的记录吗?\n") == true){
					$.post("${ctxPath}/happy-study/student/deleteStudent", {sNo : sNos}, response=>{
						if (response.status == 0){
							alert("删除成功！");
						}else{
							alert("error, code: "+response.status);
						}
						this.queryStudent();
					});
					return true;
				}else{
					return false;
				}
			},
			deleteStu : function(sNo){
				console.log(sNo);
				if (confirm("确认要删除选中的记录吗?\n") == true){
					$.post("${ctxPath}/happy-study/student/deleteStudent", {sNo : sNo}, response=>{
						if (response.status == 0){
							alert("删除成功！");
						}else{
							alert("error, code: "+response.status);
						}
						this.queryStudent();
					});
					return true;
				}else{
					return false;
				}
			},
			doUpdateStudent(sNo, sName, sSex, sEnterYear){
				$.post("${ctxPath}/happy-study/student/updateStudent", {
					sNo : sNo,
					sName : sName,
					sSex : sSex,
					sEnterYear : sEnterYear
				}, response=>{
					if (response.status == 0){
						alert("更新成功");
						vue.queryStudent();
						$("#stuModal").modal('hide');
						this.clearModal();
					}else{
						alert("更新失败, code: " + response.status);
					}
				})
			},
			doAddStudent(sNo, sName, sSex, sEnterYear){
				$.post("${ctxPath}/happy-study/student/addStudent", {
					sNo : sNo,
					sName : sName,
					sSex : sSex,
					sEnterYear : sEnterYear
				}, response=>{
					if (response.status == 0){
						alert("添加成功");
						vue.queryStudent();
						$("#stuModal").modal('hide');
						
					}else{
						alert("添加失败, code: " + response.status);
					}
					vue.clearModal();
					return ;
				})
			},
			clearModal : function(){
				this.stuModal.addOrUpdate = "";
				this.stuModal.sNo = "";
				this.stuModal.sName = "";
				this.stuModal.sSex = "";
				this.stuModal.sEnterYear = "";
				this.stuModal.isStuNoReadonly = false;
			},
			doAddOrUpdate : function(){
				//console.log(this.stuModal.addOrUpdate);
				//console.log(this.stuModal.sNo);
				//console.log(this.stuModal.sName);
				//console.log(this.stuModal.sSex);
				//console.log(this.stuModal.sEnterYear);
				if(this.stuModal.sNo=="" || this.stuModal.sName=="" || this.stuModal.sSex=="" || this.stuModal.sEnterYear == ""){
					alert("字段不能为空哦~");
					return ;
				}
				if (this.stuModal.addOrUpdate == "add"){
					this.doAddStudent(this.stuModal.sNo,this.stuModal.sName,this.stuModal.sSex,this.stuModal.sEnterYear);
				}else if(this.stuModal.addOrUpdate == "update"){
					this.doUpdateStudent(this.stuModal.sNo,this.stuModal.sName,this.stuModal.sSex,this.stuModal.sEnterYear);
				}else{
					alert("error: " + this.stuModal.addOrUpdate);
				}
			},
			openStuModal : function(addOrUpdate, sNo){
				console.log(sNo);
				this.stuModal.addOrUpdate = addOrUpdate;
				if (addOrUpdate == "update"){
					this.stuModal.isStuNoReadonly = true;
				}
				if(sNo != null && sNo != ""){
					this.stuModal.sNo = sNo;
				}
			},
			queryStudent : function(){
				this.stuCheck.isCheckAll=false;
				this.stuCheck.checkedValues = [];
				this.stuArray = null;
				$.post("${ctxPath}/happy-study/student/queryStudent", {keyword : this.studentQuery.keyword,
					orderBy : this.studentQuery.orderParam1,
					orderWay : this.studentQuery.orderParam2,
					pageNo : this.queryPage.currentPage,
					pageSize : this.queryPage.pageSize} ,response =>{
						//console.log(response.studentArray);
						this.studentQuery.stuArray = response.studentArray;
						this.queryPage.pageCount = response.pageCount;
						this.queryPage.allRowCount = response.recCount;
						//console.log("!!!!!!!!!!!!!!!!!!!!!!"+this.queryPage.currentPage);
						//console.log(this.queryPage.allRowCount);
						//console.log(response);
						this.updatePageNav();
						this.getStudentGradeChart();
					});
				//this.updatePageNav();
			},
			showChoosedCourse : function(){
				if (vue.courseMess.showChoosedCourse == true){
					$("#showCourseBtn").text("查看已选课程");
					this.queryCourse();
					vue.courseMess.showChoosedCourse = false;
				}else{
					$("#showCourseBtn").text("返回");
					this.queryMyCourse();
					vue.courseMess.showChoosedCourse = true;
				}
			},
			initPaneSwitch : function(){
				vue.paneSwitch.isMyGradeShow = false;
				vue.paneSwitch.isStutableShow = false;
				vue.paneSwitch.queryGradeShow = false;
				vue.paneSwitch.chooseCourseShow = false;
				vue.paneSwitch.isStuGradeShow = false;
			},
			openChooseCoursePane : function(){
				this.queryCourse();
				this.initPaneSwitch();
				vue.paneSwitch.chooseCourseShow = true;
			},
			openQueryGradePane : function(){
				this.initPaneSwitch();
				this.queryStudentCourseGrade();
				this.queryAllStuGradeByKey()
				vue.paneSwitch.queryGradeShow = true;
				vue.paneSwitch.isStuGradeShow = true;
			},
			openStutable : function(){
				this.initPaneSwitch();
				this.paneSwitch.isStutableShow = true;
				btnText.restart();
				
			},
			openMyGrade : function(){
				this.initPaneSwitch();
				this.paneSwitch.isMyGradeShow = true;
				//myGradeTableCome.restart();
                vue.getStudentGradeChart();
			},
			queryStudentCourse : function(){
				this.updatePageNav
			},
			updatePageNav : function(){
				vue.queryPage.pageBuffer = [];
				for (var i = 1; i <= this.queryPage.pageCount; i++){
					if ((this.queryPage.currentPage-3<i&&i<3+this.queryPage.currentPage)){
						vue.queryPage.pageBuffer.push("0");
					}else{
						vue.queryPage.pageBuffer.push("1");
					}

				}
				if (this.queryPage.currentPage - 1 > 2){
					this.queryPage.pageBeforeOmit = true;
				}else{
					this.queryPage.pageBeforeOmit = false;
				}
				if (this.queryPage.currentPage < this.queryPage.pageCount - 2){
					this.queryPage.pageAfterOmit = true;
					//console.log("!!");
					//console.log(this.queryPage.pageAfterOmit);
				}else{
					this.queryPage.pageAfterOmit = false;
					//console.log("--");
					//console.log(this.queryPage.pageAfterOmit);
				}
				//console.log("倒数第三页"+(this.queryPage.pageCount - 2));
				//console.log("当前页"+this.queryPage.currentPage);
				//console.log("尾页" + this.queryPage.pageCount)
			},
			goToPage : function(page){
				console.log("===" + this.queryPage.currentPage + " ------- " +page);
				if (page < 1){
					alert("已经是第一页啦");
					return ;
				}
				if (page > this.queryPage.pageCount) {
					alert("已经到底啦");
					return ;
				}
				this.queryPage.currentPage = page;
				//console.log("go to page " + this.queryPage.currentPage);
				this.queryStudent();
			},
            getStudentGradeChart:function(){//获取学生成绩雷达图
                if(vue.paneSwitch.isStutableShow)
                {
                    var option = {
                        title: {
                            text: '个人成绩分布'
                        },
                        tooltip: {},
                        legend: {
                            data: []
                        },
                        radar: {
                            // shape: 'circle',
                            name: {
                                textStyle: {
                                    color: '#fff',
                                    backgroundColor: '#999',
                                    borderRadius: 3,
                                    padding: [3, 5]
                                },
                            },
                            center:['50%','60%'],
                            indicator: [
                                { name: '不及格', max: 5},
                                { name: '及格', max: 5},
                                { name: '中等', max: 5},
                                { name: '良好', max: 5},
                                { name: '优秀', max: 5},
                            ]
                        },
                        series: [{
                            name: '',
                            type: 'radar',
                            // areaStyle: {normal: {}},
                            data: [
                                {
                                    value: [1, 1, 1, 1, 1],
                                    name: '成绩分布'
                                },
                            ]
                        }]
                    };
                    myChart.setOption(option)

                }
                else {
                    console.log(vue.paneSwitch.isStutableShow);
                    var myChart = echarts.init(document.getElementById("right_model"));
                    var A=0;
                    var B=0;
                    var C=0;
                    var D=0;
                    var E=0;
                    for (var i=0;i<vue.queryAllStuGrade.array.length;i++)
                    {
                        if (vue.queryAllStuGrade.array[i].g_score>=60)
                        {
                            if (vue.queryAllStuGrade.array[i].g_score>=70)
                            {
                                if (vue.queryAllStuGrade.array[i].g_score>=80) {
                                    if (vue.queryAllStuGrade.array[i].g_score>=90)
                                    {
                                        A++;
                                    }
                                    B++;
                                }
                                C++;
                            }
                            D++;
                        }else E++;
                    }
                    var option = {
                        title: {
                            text: '学生成绩分布'
                        },
                        tooltip: {},
                        legend: {
                            data: []
                        },
                        radar: {
                            // shape: 'circle',
                            name: {
                                textStyle: {
                                    color: '#fff',
                                    backgroundColor: '#999',
                                    borderRadius: 3,
                                    padding: [3, 5]
                                },
                            },
                            center:['50%','60%'],
                            indicator: [
                                { name: '不及格', max: vue.queryAllStuGrade.array.length},
                                { name: '及格', max: vue.queryAllStuGrade.array.length},
                                { name: '中等', max: vue.queryAllStuGrade.array.length},
                                { name: '良好', max: vue.queryAllStuGrade.array.length},
                                { name: '优秀', max: vue.queryAllStuGrade.array.length},
                            ]
                        },
                        series: [{
                            name: '',
                            type: 'radar',
                            // areaStyle: {normal: {}},
                            data: [
                                {
                                    value: [E, D, C, B, A],
                                    name: '成绩分布'
                                },
                            ]
                        }]
                    };
                    myChart.setOption(option)
                }
            }
		},
		mounted : function(){
			this.queryStudent();
			this.queryStudentCourseGrade();
			//this.queryAllStuGradeByKey();
			this.property = $("#property").val();
		},
	});
	
	$(function(){
		$("#DynamicMarquee").text("Welcome to Happy-Study!"+"    "+"---StudentManagement")
	})
	/*
	var stuGradeTableCome = anime({
		targets : '#stuGradeTable',
		translateY : 600,
		autoplay : false
	});
	var stuGradeTableBack = anime({
		targets : '#stuGradeTable',
		translateY : -600,
		autoplay : false
	});
	var myGradeTableBack = anime({
		targets : '#myGradeTable',
		translateY : -600,
	});
	var myGradeTableCome = anime({
		targets : '#myGradeTable',
		translateY : 100,
		autoplay : false
	});
	*/
	var btnText = anime({
		  targets: '#btnBox .boxBtn',
		  scale: [
		    {value: .1, easing: 'easeOutSine', duration: 500},
		    {value: 1, easing: 'easeInOutQuad', duration: 1200}
		  ],
		  delay: anime.stagger(200, {grid: [1, 5], from: 'center'})
		});
	
</script>