<div style="width: 80%;" id="stuman-content">

<!-- Teachertable -->
<div>
	<div style="background: rgba(0,0,0,0.8); background: #fff">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th>教师号</th>
				<th>教师名</th>
				<th>性别</th>
				<th>年龄</th>
				<th>入学时间</th>
				<th>所属学院</th>
				<th>就读班级</th>
				<th>账号</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		</table>
		<!-- 分页 -->
		<div>
		<nav aria-label="Page navigation" id="pagePane">
  			<ul class="pagination">
  				<li>
      				<a href="javascript://" aria-label="Previous" @click="goToPage(1)">首页
        			<span aria-hidden="true">&laquo;</span>
     			 	</a>
    			</li>
    			<li>
      			<a href="#" aria-label="Previous" @click="goToPage(queryPage.currentPage-1)">
        			<span aria-hidden="true">&laquo;</span>
     			 </a>
    			</li>
    			<!-- 前省略号 -->
    			<li v-for="i in 1" class="toPageBtn" 
    				v-show="queryPage.pageBeforeOmit">
    				<a href="#">...</a>
    				
    			</li>
    			<li v-for="i in queryPage.pageCount" class="toPageBtn" 
    				v-show="queryPage.pageBuffer[i-1]=='0'">
    				<a href="#" @click="goToPage(i)">{{i}}</a>
    				
    			</li>
    			<!-- 后省略号 -->
    			<li v-for="i in 1" class="toPageBtn" 
    				v-show="queryPage.pageAfterOmit">
    				<a href="#">...</a>
    				
    			</li>
    			<li>
      				<a href="#" aria-label="Next"  @click="goToPage(queryPage.currentPage+1)">
        			<span aria-hidden="true">&raquo;</span>
      				</a>
    			</li>
    			<li>
      				<a href="javascript://" aria-label="Next" @click="goToPage(queryPage.pageCount)">
        			<span aria-hidden="true">&raquo;</span>
        			尾页
      				</a>
    			</li>
  			</ul>
		</nav>
		</div>
	</div>
</div>

<!-- 操作按钮栏 -->
<div>
	<div style="width: 30%; background: rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);box-sizing: border-box; 
		border-bottom: 1px solid; overflow-x: hidden;">
		<button type="button" class="btn btn-success btn-lg" style="margin-right: 5%; width:35%"> 
			<span class="glyphicon glyphicon-align-left"></span> 管理班级</button>
		<button type="button" class="btn btn-primary btn-lg" style="margin-left: 5%; width: 35%">
			<span class="glyphicon glyphicon-book"></span> 负责课程</button>
		<button type="button" class="btn btn-danger btn-lg" style="margin-top: 20px; width: 80%">
			<span class="glyphicon glyphicon-trash"></span> 删除教师</button>
	</div>
</div>


</div>

<script>
	var vue = new Vue({
		el : "#teaman-content",
		data : {
			queryPage : {
				currentPage : 1,
				pageSize : 5,
				pageCount : 3,
				allRowCount : 13,
				liCount : [],
				pageBuffer : [],
				pageBeforeOmit : false,
				pageAffterOmit : true,
			}
		},
		methods : {
			queryTeacher : function(){
				vue.updatePageNav()
			},
			updatePageNav : function(){
				vue.queryPage.pageBuffer = [];
				for (var i = 1; i <= this.queryPage.pageCount; i++){
					if ((this.queryPage.currentPage-3<i&&i<3+this.queryPage.currentPage)){
						vue.queryPage.pageBuffer.push("0");
					}else{
						vue.queryPage.pageBuffer.push("1");
					}

				}
				if (this.queryPage.currentPage - 1 > 2){
					this.queryPage.pageBeforeOmit = true;
				}else{
					this.queryPage.pageBeforeOmit = false;
				}
				if (this.queryPage.currentPage < this.queryPage.pageCount - 2){
					this.queryPage.pageAfterOmit = true;
					console.log("!!");
					console.log(this.queryPage.pageAfterOmit);
				}else{
					this.queryPage.pageAfterOmit = false;
					console.log("--");
					console.log(this.queryPage.pageAfterOmit);
				}
				console.log("倒数第三页"+(this.queryPage.pageCount - 2));
				console.log("当前页"+this.queryPage.currentPage)
			},
			goToPage : function(page){
				if (page < 1){
					alert("已经是第一页啦");
					return ;
				}
				if (page > this.queryPage.pageCount) {
					alert("已经到底啦");
					return ;
				}
				this.queryPage.currentPage = page;
				console.log("go to page " + this.queryPage.currentPage);
				this.queryStudent();
			}
		},
		mounted : function(){
			
		},
	})
	
	$(function(){
		$("#DynamicMarquee").text("Welcome to Happy-Study!"+"    "+"---TeacherManagement")
		
	})
</script>