<style>
	#person-info .panel-body{
		color: #fff;
	}
	.info-box{
		text-align: center;
		transition: all .28s ease-in .1s;
		background: #87CEFF;
	}
	.info-box:hover {
		
		height:200px;
		background-color: #00EEEE;
		cursor:pointer;
	}
	.headphoto-box{
		height: 280px;
		width: 280px;
		transition: all .28s ease-in .1s;
		text-align: center;
	}
	.headphoto-box img{
		height: 100%;
		width: 100%;
	}
	.headphoto-box:hover{
		width: 400px;
		height: 400px;
		cursor:pointer;
	}
	.infobox-input{
		width: 80%;
	
	}
	.infobox-input input {
		
	}
	.inputBox{
		background: rgba(0, 0, 0, 0.5); 
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
        box-sizing: border-box; 
        border-bottom: 1px solid;
        width: 60%;
        height: 50px;
        padding-top: 7px;
	}
</style>

<div style="width: 80%;" id="userman-content">

<!-- usertable -->
<div style="margin-top: 50px;">
	<div style="background: rgba(0,0,0,0.8); height: 500px;" class="panel panel-info" id="person-info">
		<div class="panel-heading">
        	<h3 class="panel-title">个人信息</h3>
      	</div>
  		<div class="panel-body" >
    		<div style="">
    			<table class="table">
				<thead>
				 	<tr>
    					<th style="text-align: center;">用户名</th>
    					<th style="text-align: center;">职责</th>
    					<th style="text-align: center;">手机</th>
    				</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align: center;">{{userinfo.user.u_username}}</td>
						<td style="text-align: center;">{{userinfo.user.r_name}}</td>
						<td style="text-align: center;">{{userinfo.user.u_phone}}
							<button v-if="userinfo.bindPhoneBtnShow" class="btn btn-warning" @click="showInputBox(userinfo.user.u_username, 'u_phone')">绑定手机</button></td>
					</tr>
				</tbody>
    			</table>
    		</div>
    		
    		<div style="border: 2px solid black; height: 300px;box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
             box-sizing: border-box; display: flex; flex-direction: row;" >
    			<div style="flex: 3; background: #fff;background: rgba(0, 0, 0, 0.8); display: flex; flex-direction: column;">
    				<!-- left top -->
    				<div style="flex: 1;background: rgba(0, 0, 0, 0.3);display: flex; flex-direction: row;">
    					<div class="info-box" style="flex: 1;border:1px solid white; margin-bottom: 1px;" @click="showInputBox(userinfo.user.u_username, 'i_name')">
    						<h3>{{userinfo.user.i_name}}</h3>
    						
    					</div>
    					<div class="info-box" style="flex: 1;border:1px solid white; margin-bottom: 1px;" @click="showInputBox(userinfo.user.u_username, 'i_sex')">
    						<h3>{{userinfo.user.i_sex}}</h3>
    					</div>
    					<div class="info-box" style="flex: 1;border:1px solid white; margin-bottom: 1px;" @click="showInputBox(userinfo.user.u_username, 'i_birthday')">
    						<h3>{{userinfo.user.i_birthday}}</h3>
    					</div>
    				</div>
    				<!-- left bottom -->
    				<div style="flex: 1;  display: flex; flex-direction: row;">
    					<div class="info-box" style="flex: 1;border:1px solid white;" @click="showInputBox(userinfo.user.u_username, 'i_idcard')">
    						<h3>{{userinfo.user.i_idcard}}</h3>
    					</div>
    					<div class="info-box box-bottom" style="flex: 1;border:1px solid white;" @click="showInputBox(userinfo.user.u_username, 'i_address')">
    						<h3>{{userinfo.user.i_address}}</h3>
    					</div>
    				</div>
    			</div>
    			<!-- right -->
    			<div style="flex: 1; bbackground: rgba(191,191,191,0.8); margin-bottom: 15px;">
    				<div class="headphoto-box">
    					<img :src="userinfo.user.i_photo" @click="chooseFile">
    				</div>
    			</div>
    			<form id="upload_form" enctype="multipart/form-data" method="post" action="" hidden="hidden">
    				<input type="file" class="user_photo_file" name="file" accept="image/*" id="user_photo" @change="loadFiles">
    			</form>
    		</div>
  		</div>
  		
		
	</div>
</div>
<!-- ./usertable -->

<!-- inputBox -->
<div class="inputBox"  v-show="inputShow.boxShow">
	<div class="input-group infobox-input">
  								<input type="text" class="form-control" placeholder="需要修改信息吗？" aria-describedby="basic-addon2" v-model="inputShow.value" id="stuMesInput">
  								<span class="input-group-btn">
        							<button class="btn btn-default" type="button" @click="updateInfo">保存</button>
      							</span>
							</div>
</div>
<!-- ./inputBox -->
	
</div>

<script>
	var vue = new Vue({
		el : "#userman-content",
		data : {
			imgData : {
				accept : 'image/gif, image/jpeg, image/png, image/jpg',
				imgUrl : "",
			},
			inputShow : {
				boxShow : false,
				updateDataType : '', //根据这个来确定修改什么
				value : "", //输入框的值
			},
			userinfo : {
				user : {
					u_username : "aaaa",
					r_name : "管理员",
					u_phone : "18608336957",
					i_name : "",
					i_sex: "",
					i_photo : "${ctxPath}/img/default_student.jpg",
					i_address : "",
					i_birthday : "",
					i_idcard : "",
				},
				bindPhoneBtnShow : false,
			}
		},
		methods : {
			queryUser : function(){
				this.userinfo.user.u_username = $("#username").val();
				this.userinfo.user.u_phone=$("#userphone").val()
				this.userinfo.user.r_name=$("#position").val()
				if (this.userinfo.user.u_phone == null || this.userinfo.user.u_phone == ""){
					this.userinfo.bindPhoneBtnShow = true;
				}
				console.log(this.userinfo.user.u_username);
				console.log(this.userinfo.user.u_phone);
				console.log(this.userinfo.user.r_name);
				$.post("${ctxPath}/happy-study/user/queryUserInfo", {username : this.userinfo.user.u_username}, response=>{
					console.log(response);
					if (response.status==1){
						this.userinfo.user.i_name="姓名< 待完善 >";
						this.userinfo.user.i_sex="性别< 待完善 >";
						this.userinfo.user.i_birthday="出生日期< 待完善 >";
						this.userinfo.user.i_idcard="身份证号< 待完善 >";
						this.userinfo.user.i_address="现住地址< 待完善 >";
					}
					if (response.user.iName == undefined || response.user.iName == "" || response.user.iName == null ){
						this.userinfo.user.i_name="姓名< 待完善 >";
					}else{
						this.userinfo.user.i_name=response.user.iName;
					}
					if (response.user.iSex == undefined || response.user.iSex == "" || response.user.iSex == null ){
						this.userinfo.user.i_sex = "性别< 待完善 >";
					}else{
						if (response.user.iSex == 1){
							this.userinfo.user.i_sex = "女";
						}else if(response.user.iSex == 0){
							this.userinfo.user.i_sex = "男";
						}else{
							this.userinfo.user.i_sex = "性别< 待完善 >";
						}
					}
					if (response.user.iBirthday == undefined || response.user.iBirthday == "" || response.user.iBirthday == null){
						this.userinfo.user.i_birthday = "出生日期< 待完善 >";
					}else{
						this.userinfo.user.i_birthday = response.user.iBirthday;
					}
					if (response.user.iIdcard == undefined || response.user.iIdcard == "" || response.user.iIdcard == null){
						this.userinfo.user.i_idcard="身份证号< 待完善 >";
					}else{
						this.userinfo.user.i_idcard = response.user.iIdcard;
					}
					if (response.user.iAddress == undefined || response.user.iAddress == "" || response.user.iAddress == null){
						this.userinfo.user.i_address = "现住地址< 待完善 >";
					}else{
						this.userinfo.user.i_address = response.user.iAddress;
					}
					if (response.user.iPhoto == undefined || response.user.iPhoto == "" || response.user.iPhoto == null){
						this.userinfo.user.i_photo = "${ctxPath}/img/default_student.jpg"
					}else{
						this.userinfo.user.i_photo = "${ctxPath}" + response.user.iPhoto;
					}
				})
			},
			loadFiles : function(){
				var img = $("#user_photo")[0].files;
				var type = img[0].type;
				var size = img[0].size;
				//图片格式判断
				if (this.imgData.accept.indexOf(type) == -1){
					alert("请选择我们支持的图片格式");
					console.log(img);
					console.log(img[0].type);
					return ;
				}
				//判断大小
				if (size > 3145728){
					alert("图片太大啦，请选择3M内的图片！");
					return ;
				}
				var formData = new FormData($('#upload_form')[0]);
				console.log(img);
				formData.append("file", img);
				console.log(formData);
				console.log(event);
				
				$.ajax({
					type : "post",
					url : "${ctxPath}/happy-study/user/uploadUserHeadImg", 
					processData : false,
					contentType : false,
					data : formData,
					success : function(ret){
						if (ret.status==0){
							vue.imgData.imgUrl = ret.fileUrl;
							console.log(vue.imgData.imgUrl);
							vue.storeHeadImgUrl(vue.imgData.imgUrl);
							$("#user_photo").val("");
							alert("文件上传成功");
							vue.queryUser();
							$(".user-head-img").attr("src", "${ctxPath}"+ret.fileUrl);
							vue.clearInputShow();
							return ;
						}
						alert("上传失败, code: " + ret.status);
						
						
					},
					error : function(err){
						alert("失败了");
						$("#user_photo").val("");
					}
				});
			},
			chooseFile : function(){
				var res = confirm("需要修改头像吗？");
				if (res == true){
					$("#user_photo").trigger("click");
				}else{
					return false;
				}
			},
			storeHeadImgUrl : function(url){
				this.inputShow.value = url;
				this.inputShow.updateDataType = "i_photo";
				this.updateInfo();
			},
			updateInfo : function(){
				var value = this.inputShow.value;
				var key = this.inputShow.updateDataType
				if (key == "u_phone"){
					$.post("${ctxPath}/happy-study/user/bindPhone",{username : this.userinfo.user.u_username, 
						phonenum : value}, response=>{
							if (response.status == 0){
								alert("修改成功");
								this.queryUser();
								$("#userphone").val(value);
							}else{
								alert("修改失败, code: " + response.status);
							}
						})
				}else{
					$.post("${ctxPath}/happy-study/user/updateUserInfo", {username : this.userinfo.user.u_username,
						key : key,
						value : value
						}, response=>{
							if (response.status==0){
								alert("修改成功");
								this.queryUser();
							}else{
								alert("修改失败, error: " + response.status);
							}
					})
				}
				
			},
			clearInputShow : function(){
				this.inputShow.value = "";
				this.inputShow.updateDataType = "";
			},
			showInputBox : function(boxname, updateDataType){
				this.clearInputShow();
				console.log(boxname);
				if (updateDataType == "i_birthday"){
					$("#stuMesInput").attr("type", "date");
				}else{
					$("#stuMesInput").attr("type", "text");
				}
				if (this.inputShow.boxShow == true){
					this.inputShow.boxShow = false;
					return ;
				}
				this.inputShow.boxShow = true;
				this.inputShow.updateDataType = updateDataType
				console.log(this.inputShow.updateDataType);
				console.log($("#userphone").val(value));
				return ;

			}
		},
		mounted : function(){
			this.queryUser();
		}
		
	})
</script>
